extends layout
block content
    h1.text-left Seleziona il torneo

block mainbar
    h2.text-left I tornei disponibili
    div.list-group(style="max-height: 300px; overflow-y:scroll;")
        each user, i in torneo
            a.list-group-item(href="/addtor?tid=#{user.TOR_COD_TORNEO}")
                img.img-thumbnail.pull-left(src="img/#{user.TOR_IMAGE}",width="50", height="65")
                h4.list-group-item-heading &nbsp; #{user.TOR_DESCR_TORNEO} &nbsp; &nbsp; &nbsp;
block mainleft

block mainright
    h2 I tuoi tornei
    div.list-group(style="max-height:300px;overflow-y:scroll;")
        each user, i in torneo2
            if user.LIVE == 0
                a.list-group-item(href="/torneo?tid=#{user.cod_torneo}")
                    img.img-thumbnail.pull-left(src="img/#{user.image}",width="50", height="65")
                    h4.list-group-item-heading &nbsp; #{user.descr_torneo}
                    p.list-group-item-text &nbsp; &nbsp; Classifica
            else
                a.list-group-item(href="/rt?tid=#{user.cod_torneo}")
                    img.img-thumbnail.pull-left(src="img/#{user.image}",width="50", height="65")
                    h4.list-group-item-heading &nbsp; #{user.descr_torneo} &nbsp; &nbsp; &nbsp;
                        span.fa-stack.fa-1x
                            i.fa.fa-television.fa-stack-2x(style="color:red")
                            i.fa.fa-futbol-o.fa-stack-1x
                    p.list-group-item-text &nbsp; LIVE