//
   Created by Daniele on 11/08/2015.

extends layout
block content
    script(src='/javascript/comptab_new2.js')
    h1 Compilazione risultati
    input(type='hidden', name='torneo', value="#{cod_torneo}")
    input(type='hidden', name='giorn', value="#{nro_giorn}")
    div.alert.alert-danger
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Attenzione </strong> Bisogna correggere prima di inviare
    div.alert.alert-success
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Successo </strong> Salvataggio completo
    div.alert.alert-warning
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Attenzione </strong> problemi con il salvataggio riprovare
block mainbar
    form(name='compila',id="compila" , method='post', action='/salvapron3')
        table.table-bordered
            thead
                tr
                    th Squadra 1
                    th Squadra 2
                    th Gol
                    th Gol
                    th Tot gol
                    th Segno
            tbody
                - each item in htab
                    tr
                        td
                            select.GC(name="GC-#{item.cod_partita})
                                - each opt in opt2
                                    if opt.cod_partita == item.cod_partita
                                        if opt.value == save_sq_casa
                                            option(value="#{opt.value}", selected)
                                            |opt.value
                                        else
                                            option(value="#{opt.value}")
                                            |opt.value
                        td
                            select.GH(name="GH-#{item.cod_partita})
                                - each opt in opt3
                                    if opt.cod_partita == item.cod_partita
                                        if opt.value == save_sq_away
                                            option(value="#{opt.value}", selected)
                                            | opt.value
                                        else
                                            option(value="#{opt.value}")
                                            | opt.value
                        td
                            input.G1(type="text" , name="G1-#{item.cod_partita}", value="#{item.pr_g_casa}")
                        td
                            input.G2(type="text" , name="G2-#{item.cod_partita}", value="#{item.pr_g_away}")
                        td
                            input.G6(type="text" , name="G6-#{item.cod_partita}", value="#{item.pr_n_gol}")
                        td
                            input.G9(type="text" , name="G9-#{item.cod_partita}", value="#{item.pr_segno}")
block mainleft
    div.btn-group-vertical
        button.btn.btn-success#btnSubmit(type="button", value="Salva", onclick='validate()') Salva
        a.btn.btn-info(href="/torneo?tid=#{cod_torneo}") Torneo
        a.btn.btn-info(href="/utente") Principale