//
   Created by schiappacassed on 06/06/2016.

extends layout
block content
    script(type="text/javascript",src="http://ads.williamhill.it/ad.aspx?pid=191299251&bid=1487411170&lpid=1471672153")
    h1.text-left Classifica #{title} &nbsp;
        if idsquadra
            div.btn-group
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                    span.glyphicon.glyphicon-cog
                ul.dropdown-menu
                    li
                        a(href="/utente")
                            span.fa.fa-home
                            |&nbsp; Principale
                    li
                        a(href="/addtorneo")
                            span.glyphicon.glyphicon-plus-sign
                            |&nbsp; Aggiungi Torneo
                    li
                        a(href="/gestsq")
                            span.glyphicon.glyphicon-list
                            |&nbsp; Opzioni
                    li
                        a(href="/cambiop")
                            span.glyphicon.glyphicon-sunglasses
                            |&nbsp; Cambio Password
                    li.divider(role="separator")
                    li
                        a(href="/logoff")
                            span.glyphicon.glyphicon-off
                            |&nbsp; Logoff
block mainbar
block mainleft
    div.list-group(style="max-height: 900px; overflow-y:scroll;")
        each user, i in pclass
            a.list-group-item(href="/vistorneo?tid=#{user.cod_torneo}&us=#{user.pr_squadra}")
                //img.img-thumbnail.pull-left(src="img/#{user.image}",width="50", height="65")
                h4.list-group-item-heading &nbsp; &nbsp; #{i+1} &nbsp; #{user.squadra} &nbsp; &nbsp; - &nbsp; &nbsp; #{user.punti}
block mainright
    div.panel.panel-default
        div.panel-heading
            -if (!stat){
                h3.panel-title Nessuna partita in calendario.
            -}else{
                h3.panel-title #{stat[0].t_home} v #{stat[0].t_away}
            div.panel-body
                -var part = stat[0].cod_partita
                ul.list-group
                    li.list-group-item
                        span.badge #{stat[0].perc} %
                        | #{stat[0].segno}
                    if part == stat[1].cod_partita
                        li.list-group-item
                            span.badge #{stat[1].perc} %
                            | #{stat[1].segno}
                    if part == stat[2].cod_partita
                        li.list-group-item
                            span.badge #{stat[2].perc} %
                            | #{stat[2].segno}
                a(href="/stati?tid=#{tid}") Guarda tutte le statistiche
            -}