//
   Created by schiappacassed on 06/06/2016.

extends layout
block content
    h1.text-left Risultati di #{uname} &nbsp;
        -if idsquadra
            div.btn-group
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                    span.glyphicon.glyphicon-cog
                ul.dropdown-menu
                    li
                        a(href="/utente")
                            span.fa.fa-home
                            |&nbsp; Principale
                    li
                        a(href="/addtorneo")
                            span.glyphicon.glyphicon-plus-sign
                            |&nbsp; Aggiungi Torneo
                    li
                        a(href="/gestsq")
                            span.glyphicon.glyphicon-list
                            |&nbsp; Opzioni
                    li
                        a(href="/cambiop")
                            span.glyphicon.glyphicon-sunglasses
                            |&nbsp; Cambio Password
                    li.divider(role="separator")
                    li
                        a(href="/logoff")
                            span.glyphicon.glyphicon-off
                            |&nbsp; Logoff
block mainbar
    div.list-group(style="max-height: 300px; overflow-y:scroll;")
        each par, i in pclass
            a.list-group-item(href="/partita?tid=#{par.cod_torneo}&ngio=#{par.nro_giornata}&npar=#{par.nro_partita}")
                h4.list-group-item-heading #{par.etichetta}

